html,body 
{
    margin:0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

.nav-link
{
    font-size:1.3rem;
    position:relative;
    text-indent:1rem;
}
/*
.dropdown-item
 {
     
     width:100px;
     height:30px;
       text-decoration:none;
       margin:10%;
       margin-bottom:10%;
     }*/